body {
    color:white;
    background: blueviolet;
    margin: 0px
    

}

header{
    border-bottom: solid 3px white;
    margin: 25px;
    font-size: 30px;
}

section{
    background:rgb(253, 253, 253);
    padding-bottom: 60px;
    padding-top: 60px;
    color:black;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 30px;
}